<div id="QuoteStep3_1">
  <div id="QuoteStep3_1Hi" class="QuoteTitleText2 IncrementalElement">
    About your company
  </div>

  <div id="QuoteStep3_1Message" class="QuoteTitleText3 IncrementalElement">
    <br />
    <p>
      Where is "{{ QuoteService.CompanyName }}"?
    </p>
    <form ng-submit="GoQuoteStep4()">
      <input type="text" class="form-control QuoteFormInput" id="QuoteStep3_1FormInput" placeholder="My company address is..." ng-model="QuoteService.CompanyAddress" />
      <input class="btn btn-default btn-lg" type="submit" value="it's around here" ng-show="QuoteService.CompanyAddress != ''" />
      <br /><br />
      <div>
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBzDI9fp6VpKQimK4XepIThA7U2HsWzIS8&q=Space+Needle,Seattle+WA" allowfullscreen>
        </iframe>
      </div>
      <br />
    </form>
  </div>

</div>
