<div id="QuoteStep6">
  <div id="QuoteStep5Hi" class="QuoteTitleText2 IncrementalElement">
    That's all!
  </div>

  <div id="QuoteStep5Hi" class="QuoteTitleText3 IncrementalElement">
    Looking for insurance solutions for your business...
  </div>

  <div id="QuoteStep5Message" class="IncrementalElement">
    <br /><br />
    <div id="QuoteStep5Hi" class="QuoteTitleText3">
      Here is what I found:
    </div>
    <br />
    <div id="QuoteStep5Hi" class="QuoteTitleText4">
      Coverages that you must have:<br />
       - Coverage 1<br />
       - Coverage 2<br />
       - Coverage 3
    </div>
    <br /><br />
    <div id="QuoteStep5Hi" class="QuoteTitleText4">
      Based on other companies, Coverages you may like to have:<br />
       - Coverage 4<br />
       - Coverage 5<br />
       - Coverage 6
    </div>
    <br /><br />
    <form ng-submit="GoQuoteStep7()">
      <input class="btn btn-default btn-lg" type="submit" value="Create my Bundle" />
    </form>
    <br /><br />
    <div id="QuoteStep5Hi" class="QuoteTitleText4">
      <b>Bundle Cost</b><br />
       500.00 euros per year
    </div>
    <br /><br />
    <form ng-submit="GoQuoteStep7()">
      <div id="QuoteStep5Hi" class="QuoteTitleText3">
        Want a better price? Tell me me a little bit more about your company
      </div>
      <input class="btn btn-default btn-lg" type="submit" value="Let's go" />
      <br /><br />
    </form>
  </div>

</div>
